In [2]:
import pandas as pd

# Importing Dataset

In [64]:
s_3 = pd.read_csv('data/Overwatch Season 3 - Sheet1.csv')
s_4 = pd.read_csv('data/Overwatch Season 4 - Sheet1.csv')
s_5 = pd.read_csv('data/Overwatch Season 5 - Sheet1.csv')
s_6 = pd.read_csv('data/Overwatch Season 6 - Sheet1.csv')
s_7 = pd.read_csv('data/Overwatch Season 7 - Sheet1.csv')

# Dropping unneeded columns and combining the tables

In [68]:
print(sum(s_3['Unnamed: 30'].notnull()))
sum(s_3['Unnamed: 31'].notnull())

141

28

In [65]:
s = 3
for season in [s_3,s_4, s_5, s_6, s_7]:
    print (s)
    s += 1
    print (len(season.columns))
    print(season.columns)

3
35
Index(['Date', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Enemy Team', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 30', 'Unnamed: 31', 'Note',
       'Unnamed: 33', 'Unnamed: 34'],
      dtype='object')
4
47
Index(['Date', 'Time', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Enemy Team', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 31', 'Unnamed: 32',
       'Communication level', 'Note', 'Physicological condition', 'Elim',
       'ObjKills', 'ObjTime', 'Dam', 'Heal', 'Death', 'Weapon Acc',
       'KillStreak', 'Offensive Assists', 'Defensive Assists', 'Scoped'],
      dtype='object')
5
49
Index(['Date', 'Time', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Enemy Team', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 31', 'Unnamed: 32',
       'Communication level', 'Note', 'Physicological condition', 'Elim',
       'ObjKills', 'ObjTime', 'Dam', 'Heal', 'Death', 'Weapon Acc',
       'KillStreak', 'Offensive Assists', 'Defensive Assists', 'Scoped',
       'Unnamed: 47', 'Unnamed: 48'],
      dtype='object')
6
47
Index(['Date', 'Time', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Enemy Team', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 31', 'Unnamed: 32',
       'Communication level', 'Note', 'Physicological condition', 'Elim',
       'ObjKills', 'ObjTime', 'Dam', 'Heal', 'Death', 'Weapon Acc',
       'KillStreak', 'Offensive Assists', 'Defensive Assists', 'Scoped'],
      dtype='object')
7
47
Index(['Date', 'Time', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15',
       'Unnamed: 16', 'Enemy Team', 'Unnamed: 18', 'Unnamed: 19',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 31', 'Unnamed: 32',
       'Communication level', 'Note', 'Physicological condition', 'Elim',
       'ObjKills', 'ObjTime', 'Dam', 'Heal', 'Death', 'Weapon Acc',
       'KillStreak', 'Offensive Assists', 'Defensive Assists', 'Scoped'],
      dtype='object')

In [47]:
#concatonating the seasons togther
data_list = [s_3,s_4, s_5, s_6, s_7]
all_data = pd.DataFrame()
season_num = 3
for season in data_list:
    #adding a column that labels the seasons
    season['season'] = season_num
    season_num += 1
    all_data = all_data.append(season)
all_data.head()

,Date,Game ID,SR,SR Finish,Delta,Streak #,Win/ Loss/Draw,My Team's SR,Enemy Team's SR,Delta.1,...,Dam,Heal,Death,Weapon Acc,KillStreak,Offensive Assists,Defensive Assists,Scoped,Unnamed: 47,Unnamed: 48
0,12/4/2016,1.0,2387,NaN,NaN,NaN,W,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12/4/2016,2.0,2387,2367,-20,NaN,L,2617,2619,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12/4/2016,2.0,NaN,NaN,NaN,NaN,L,2617,2619,-2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12/4/2016,3.0,2367,2367,0,NaN,-,2680,2745,-65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12/15/2016,4.0,2367,2367,0,NaN,-,-,-,-,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
all_data.columns

Index(['Date', 'Game ID', 'SR', 'SR Finish', 'Delta', 'Streak #',
       'Win/ Loss/Draw', 'My Team's SR', 'Enemy Team's SR', 'Delta.1',
       'Teammate', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Enemy Team', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21', 'Map', 'Round',
       'Cap Score', 'Score/ Distance', 'Time Left', 'D/A/CP',
       'Length of Match', 'Character', 'Unnamed: 30', 'Unnamed: 31', 'Note',
       'Unnamed: 33', 'Unnamed: 34', 'season', 'Time', 'Unnamed: 16',
       'Unnamed: 22', 'Unnamed: 32', 'Communication level',
       'Physicological condition', 'Elim', 'ObjKills', 'ObjTime', 'Dam',
       'Heal', 'Death', 'Weapon Acc', 'KillStreak', 'Offensive Assists',
       'Defensive Assists', 'Scoped', 'Unnamed: 47', 'Unnamed: 48'],
      dtype='object')

In [55]:
#exclude columns that won't be needed
columns_excl = ['Teammate', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'
                , 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'
                , 'Unnamed: 17', 'Unnamed: 18', 'Unnamed: 19' 
                , 'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22'
                , 'Enemy Team']     

all_seasons = all_data[all_data.columns.difference(columns_excl)]

In [56]:
all_seasons.columns

Index(['Cap Score', 'Character', 'Communication level', 'D/A/CP', 'Dam',
       'Date', 'Death', 'Defensive Assists', 'Delta', 'Delta.1', 'Elim',
       'Enemy Team's SR', 'Game ID', 'Heal', 'KillStreak', 'Length of Match',
       'Map', 'My Team's SR', 'Note', 'ObjKills', 'ObjTime',
       'Offensive Assists', 'Physicological condition', 'Round', 'SR',
       'SR Finish', 'Scoped', 'Score/ Distance', 'Streak #', 'Time',
       'Time Left', 'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 47', 'Unnamed: 48', 'Weapon Acc',
       'Win/ Loss/Draw', 'season'],
      dtype='object')

In [57]:
#figuring out the other unnamed columns
print('Unnamed 30:', sum(all_seasons['Unnamed: 30'].notnull()))
print('Unnamed 31:', sum(all_seasons['Unnamed: 31'].notnull()))
print('Unnamed 32:', sum(all_seasons['Unnamed: 32'].notnull()))
print('Unnamed 33:', sum(all_seasons['Unnamed: 33'].notnull()))
print('Unnamed 34:', sum(all_seasons['Unnamed: 34'].notnull()))
print('Unnamed 47:', sum(all_seasons['Unnamed: 47'].notnull()))
print('Unnamed 48:', sum(all_seasons['Unnamed: 48'].notnull()))

Unnamed 30: 141
Unnamed 31: 402
Unnamed 32: 35
Unnamed 33: 0
Unnamed 34: 1
Unnamed 47: 1
Unnamed 48: 1

In [60]:
all_seasons[~all_seasons['Unnamed: 31'].isnull()][['Unnamed: 31', 'season']]

    Unnamed: 31  season
28        Lucio       3
45        Lucio       3
93          Zen       3
218         Ana       3
226         Ana       3
..          ...     ...
383         Zen       7
387       Mercy       7
403       Moira       7
406       Lucio       7
421       Moira       7

[402 rows x 2 columns]